@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
body {
  background-image: url("../images/bg-image/bg-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: -moz-linear-gradient(
    227deg,
    rgba(255, 177, 208, 1) 0%,
    rgba(255, 255, 255, 1) 38%,
    rgba(222, 213, 255, 1) 63%,
    rgba(86, 50, 204, 1) 100%
  );
  background: -webkit-linear-gradient(
    227deg,
    rgba(255, 177, 208, 1) 0%,
    rgba(255, 255, 255, 1) 38%,
    rgba(222, 213, 255, 1) 63%,
    rgba(86, 50, 204, 1) 100%
  );
  background: linear-gradient(
    227deg,
    rgba(255, 177, 208, 1) 0%,
    rgba(255, 255, 255, 1) 38%,
    rgba(222, 213, 255, 1) 63%,
    rgba(86, 50, 204, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffb1d0",endColorstr="#5632cc",GradientType=1); */
}
